* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.wrapper {
    max-width: 1080px;
    margin: 0 auto;
    padding: 116px 0;

    > .header {
        text-align: center;
        margin-bottom: 56px;

        > .title {
            margin-top: 0;
            margin-bottom: 24px;
            font-size: 48px;
            font-weight: 700;
            line-height: 48px;
            letter-spacing: -1.44px;
        }

        > .description {
            font-family: "DM Sans", 'sans-serif';
            color: #404040;
            text-align: center;
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: -0.198px;
        }
    }

    > .content {

        > .imageWrapper {
            width: 100%;

            img {
                width: 100%;
            }
        }

        > .cards {
            margin-top: -208px;
            display: grid;
            grid-gap: 24px;
            grid-template-columns: repeat(6, 1fr);
            grid-template-areas:"firstCard firstCard firstCard secondCard secondCard secondCard"
        "thirdCard thirdCard fourthCard fourthCard fifthCard fifthCard";

            > .card {
                min-height: 208px;
                padding: 24px;
                border-radius: 16px;
                background: #FFF;
                box-shadow: 0 0 40px 0 rgba(44, 59, 64, 0.15);

                &:nth-child(1) {
                    grid-area: firstCard;
                }

                &:nth-child(2) {
                    grid-area: secondCard;
                }

                &:nth-child(3) {
                    grid-area: thirdCard;
                }

                &:nth-child(4) {
                    grid-area: fourthCard;
                }

                &:nth-child(5) {
                    grid-area: fifthCard;
                }

                > .header {
                    margin-bottom: 12px;
                    display: flex;
                    justify-content: space-between;

                    > .title {
                        font-family: "DM Sans", 'sans-serif';
                        color: #0A0A0A;
                        font-size: 28px;
                        font-weight: 700;
                        line-height: 32px;
                        letter-spacing: -0.588px;
                        margin: 0;
                    }

                    > .country {
                        display: inline-flex;
                        width: 40px;
                        height: 40px;
                    }
                }

                > .phone, .email {
                    font-family: "DM Sans", 'sans-serif';
                    color: #0A0A0A;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: -0.198px;
                    margin: 0;
                    text-overflow: ellipsis;
                    width: 100%;
                    overflow: hidden;
                    display: block;

                    > a {
                        text-decoration: unset;
                        color: #0A0A0A;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                > .address {
                    color: #9E9E9E;
                    font-family: "DM Sans", 'sans-serif';
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: -0.198px;
                    margin-top: 12px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1024.99px) {
    .wrapper {
        > .header {
            margin-bottom: 40px;
        }

        > .content {
            > .cards {
                margin-top: -108px;
                grid-template-areas:"firstCard firstCard firstCard secondCard secondCard secondCard"
                "thirdCard thirdCard thirdCard fourthCard fourthCard fourthCard"
                "fifthCard fifthCard fifthCard . . .";
                padding: 40px;
            }
        }
    }
}

@media only screen and (max-width: 768.99px) {
    .wrapper {
        padding: 48px 40px;

        > .header {
            margin-bottom: 40px;

            > .title {
                margin-bottom: 16px;
                font-size: 28px;
                line-height: 32px;
                letter-spacing: -0.588px;
            }

            > .description {
                font-size: 16px;
                line-height: 24px;
                letter-spacing: -0.176px;

            }
        }

        > .content {

            > .imageWrapper {
                img {
                }
            }

            > .cards {
                margin-top: 40px;
                grid-template-columns: 1fr;
                grid-template-areas:unset;
                padding: 0;
                display: flex;
                gap: 16px;
                flex-direction: column;

                > .card {
                    min-height: 152px;
                    padding: 16px;

                    > .header {
                        margin-bottom: 8px;

                        > .title {
                            font-size: 20px;
                            line-height: 24px;
                            letter-spacing: -0.34px;
                        }

                        > .country {
                            width: 32px;
                            height: 32px;
                        }
                    }

                    > .phone, .email {
                        font-size: 16px;
                        line-height: 24px;
                        letter-spacing: -0.176px;
                    }

                    > .address {
                        margin-top: 8px;
                        font-size: 16px;
                        line-height: 24px;
                        letter-spacing: -0.176px;
                    }
                }
            }
        }
    }
}
